@page
@model IndexModel
@{
    ViewData["Title"] = "Demo Test Page";
}
@section Header {
    <link rel="stylesheet" href="/css/genpage.css?vary=@Utilities.VaryID" />
}

<div class="center-toast" id="center_toast">
    @WebUtil.Toast("error_toast_box", "Error", "", "error_toast_content", "")
</div>

<div class="input-sidebar" id="input_sidebar">
    <textarea class="prompt-box" id="input_prompt" placeholder="Type your prompt here" rows="3"></textarea>
    <br><textarea class="prompt-box" id="input_negative_prompt" placeholder="Type your negative prompt here" rows="3"></textarea>
    <br><button class="generate-button" id="generate_button">Generate</button>
    <br>@WebUtil.AutoNumberSmall("Images", "How many images to generate at once.", "input_images", 1, 100, 1)
    @WebUtil.AutoNumberSmall("Seed", "Image seed. -1 = random.", "input_seed", -1, 1000000000, -1)
    @WebUtil.AutoNumberSmall("Steps", "How many times to run the model. More steps = better quality, but more time.", "input_steps", 1, 100, 20)
    @WebUtil.AutoNumberSmall("CFG Scale", "How strongly to scale prompt input. Too-high values can cause corrupted/burnt images, too-low can cause nonsensical images.", "input_cfg_scale", 0, 30, 7, 0.25)
    <br>@WebUtil.AutoSlider("Width", "Image width, in pixels.", "input_width", 0, 8192, 1024, 64)
    <br>@WebUtil.AutoSlider("Height", "Image height, in pixels.", "input_height", 0, 8192, 1024, 64)
</div>
<div class="main-image-area">
    <div id="image_spot"></div>
</div>

@section Scripts {
    <script src="/js/genpage.js?vary=@Utilities.VaryID"></script>
}
