@page
@{
    ViewData["Title"] = "Image Generation";
}
@section Header {
    <link rel="stylesheet" href="/css/genpage.css?vary=@Utilities.VaryID" />
}

@if (!Program.ServerSettings.IsInstalled)
{
    <script>
        window.location.href = "/Install";
    </script>
    return;
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#Text2Image" id="text2imagetabbutton" aria-selected="true" role="tab">Generate</a>
    </li>
    @WebServer.T2ITabHeader
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#User-Settings" id="usersettingstabbutton" aria-selected="false" tabindex="-1" role="tab">User</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#Settings" aria-selected="false" tabindex="-1" role="tab">Server</a>
    </li>
</ul>
<div class="tab-content tab-hundred">
    <div class="tab-pane show active" id="Text2Image" role="tabpanel">
        <div class="t2i-top-bar-container">
            <div class="t2i-top-bar" id="t2i_top_bar">
                <div class="input-sidebar" id="input_sidebar">
                    <button class="generate-button" id="generate_button" onclick="javascript:doGenerate()">Generate Image</button>
                    <br><span class="interrupt_line"><button class="interrupt-button interrupt-button-none" id="interrupt_button" onclick="javascript:doInterrupt()">Interrupt</button> <span id="num_jobs_span">...</span></span>
                    <div class="main_inputs_area_wrapper" id="main_inputs_area_wrapper">
                        <div id="main_inputs_area"></div>
                        <div class="advanced_input_checkbox">
                            <input type="checkbox" id="advanced_options_checkbox" onclick="javascript:toggle_advanced()"/>
                            <span onclick="javascript:toggle_advanced_checkbox_manual()">Display Advanced Options?</span>
                        </div>
                        <div id="main_inputs_area_advanced" class="main_inputs_area_advanced" style="display:none;"></div>
                        <div id="main_inputs_area_hidden" class="main_inputs_area_hidden"></div>
                        <div style="height: 2rem;"></div> <!-- Spacer -->
                    </div>
                </div>
                <div class="t2i-top-split-bar splitter-bar" id="t2i-top-split-bar"><div class="t2i-split-quickbutton t2i-top-split-quickbutton" id="t2i-top-split-quickbutton">&#x21DA;</div></div>
                <div class="main-image-area" id="main_image_area">
                    <div class="current_image" id="current_image"></div><div class="t2i-top-split-bar splitter-bar" id="t2i-top-2nd-split-bar"></div><div class="current_image_batch" id="current_image_batch"></div>
                    <div class="alt_prompt_region" id="alt_prompt_region" style="display:none;">
                        <textarea id="alt_prompt_textbox" class="alt_prompt_textbox" rows="1" placeholder="Type your prompt here..."></textarea>
                        <button class="alt-prompt-buttons basic-button" id="alt_generate_button" onclick="javascript:doGenerate()">Generate</button>
                        <button class="alt-prompt-buttons interrupt-button interrupt-button-none alt-interrupt" id="alt_interrupt_button" onclick="javascript:doInterrupt()">Interrupt</button>
                    </div>
                </div>
                <div class="model-block-menu-button t2i-area-quicktools" onclick="javascript:show_t2i_quicktools()">Quick Tools</div>
                <div class="sui-popover sui_popover_model" id="popover_quicktools">
                    <div class="sui_popover_model_button" onclick="javascript:resetPageSizer()">Reset Page Layout</div>
                    <div class="sui_popover_model_button" onclick="javascript:refreshParameterValues()">Reload Parameter Values</div>
                    <div class="sui_popover_model_button" onclick="javascript:resetParamsToDefault()">Reset Params to Default</div>
                </div>
            </div>
        </div>
        <div class="t2i-mid-split-bar splitter-bar" id="t2i-mid-split-bar"><div class="t2i-split-quickbutton t2i-mid-split-quickbutton" id="t2i-mid-split-quickbutton">&#x290B;</div></div>
        <div class="t2i-bottom-bar" id="t2i_bottom_bar">
            <div class="bottom-info-bar-container">
                <span class="bottom-info-bar-component"><b>Model</b>: <select class="auto-dropdown current_model_view" id="current_model"></select></span>
                <span class="bottom-info-bar-component" style="display:none;" id="current_presets_wrapper"><span><b>Current presets</b><span id="preset_info_slot"></span>: </span> <span id="current_preset_list_view"></span></span>
                <span class="bottom-info-bar-component" style="display:none;" id="current_loras_wrapper"><span><b>Current LoRAs</b><span id="lora_info_slot"></span>: </span> <span id="current_lora_list_view"></span></span>
            </div>
            <ul class="nav nav-tabs" role="tablist" id="bottombartabcollection">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="imagehistorytabclickable" data-bs-toggle="tab" href="#Image-History-Tab" aria-selected="true" role="tab">Image History</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#Presets-Tab" aria-selected="false" tabindex="-1" role="tab">Presets</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#Models-Tab" aria-selected="false" tabindex="-1" role="tab">Models</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#Vaes-Tab" aria-selected="false" tabindex="-1" role="tab">VAEs</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#Loras-Tab" aria-selected="false" tabindex="-1" role="tab">LoRAs</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#Embeddings-Tab" aria-selected="false" tabindex="-1" role="tab">Embeddings</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#ControlNets-Tab" aria-selected="false" tabindex="-1" role="tab">ControlNets</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#Tools-Tab" aria-selected="false" tabindex="-1" role="tab">Tools</a>
                </li>
            </ul>
            <div class="tab-content" id="t2i_bottom_bar_content">
                <div class="tab-pane show active genpage-bottom-tab" id="Image-History-Tab" role="tabpanel">
                    <div class="browser_container" id="image_history"></div>
                </div>
                <div class="modal modal-fullscreen imageview_popup_modal_background" id="image_fullview_modal"></div>
                <div class="tab-pane genpage-bottom-tab" id="Presets-Tab" role="tabpanel">
                    <button id="preset_list_create_new_button" class="refresh-button" onclick="javascript:create_new_preset_button()">Create New Preset</button>
                    <button id="preset_list_import_button" class="refresh-button" onclick="javascript:importPresetsButton()">Import Presets</button>
                    <button id="preset_list_export_button" class="refresh-button" onclick="javascript:exportPresetsButton()">Export All Presets</button>
                    <button id="preset_list_apply_button" class="refresh-button" onclick="javascript:apply_presets()" title="Apply all current presets directly to your parameter list.">Apply Presets</button>
                    @WebUtil.ModalHeader("export_presets_modal", "Export Presets")
                        <div class="modal-body">
                            <h5>Format:</h5>
                            <div class="btn-group" role="group">
                                <input type="radio" class="btn-check" name="btnradio" id="export_preset_format_json" autocomplete="off" checked="" onchange="javascript:exportPresetsButton()">
                                <label class="btn btn-outline-primary" for="export_preset_format_json">StableSwarmUI JSON</label>
                                <input type="radio" class="btn-check" name="btnradio" id="export_preset_format_csv" autocomplete="off" onchange="javascript:exportPresetsButton()">
                                <label class="btn btn-outline-primary" for="export_preset_format_csv">Prompt only CSV</label>
                            </div>
                            <br><br>
                            <textarea id="export_presets_textarea" style="width: 100%;" rows="10" disabled autocomplete="off"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary basic-button" onclick="javascript:exportPresetsDownload()">Download</button>
                            <button type="button" class="btn btn-secondary" onclick="javascript:closeExportPresetViewer()">Close</button>
                        </div>
                    @WebUtil.ModalFooter()
                    @WebUtil.ModalHeader("import_presets_modal", "Import Presets")
                        <div class="modal-body">
                            <div id="import_preset_upload_container">
                                <input type="file" id="import_preset_uploader" /> <label for="import_preset_uploader" oninput="javascript:importPresetUpload()"></i>&nbsp; Upload Preset File (JSON or CSV)</label>
                                <textarea id="import_presets_textarea" style="width: 100%;" rows="10" oninput="javascript:importPresetsCheck()"></textarea>
                            </div>
                            <input type="checkbox" class="form-check-input" id="import_presets_overwrite" onchange="javascript:importPresetsCheck()"> <label class="form-check-label" for="import_presets_overwrite">Overwrite existing presets</label>
                        </div>
                        <div class="modal-footer">
                            <span id="import_preset_modal_error" class="modal_error_bottom"></span>
                            <button type="button" class="btn btn-primary basic-button" id="import_presets_activate_button" onclick="javascript:importPresetsActivate()" disabled autocomplete="off">Import</button>
                            <button type="button" class="btn btn-secondary" onclick="javascript:closeImportPresetViewer()">Cancel</button>
                        </div>
                    @WebUtil.ModalFooter()
                    @WebUtil.ModalHeader("add_preset_modal", """Create New Preset: <input type="text" id="new_preset_name" placeholder="Preset Name" />""")
                        <div class="modal-body">
                            <textarea class="auto-text" id="preset_description" rows="3" placeholder="Preset description text..."></textarea>
                            <span class="form-check form-switch display-inline-block">
                                <input class="auto-slider-toggle form-check-input" type="checkbox" id="new_preset_enable_image" title="Enable/disable image" onclick="javascript:doToggleEnable('new_preset_image')"> Use Image
                            </span>
                            <div id="new_preset_image" class="new_preset_image"></div>
                            <hr>
                            <h5>Parameters in the Preset</h5>
                            <p>Select the checkbox next to inputs you want included in the preset.<br>Use <code>{value}</code> in text inputs for the preset to use the UI value.</p>
                            <div id="new_preset_modal_inputs"></div>
                            <div class="advanced_input_checkbox">
                                <input type="checkbox" id="preset_advanced_options_checkbox" onclick="javascript:preset_toggle_advanced()"/>
                                <span onclick="javascript:preset_toggle_advanced_checkbox_manual()">Display Advanced Options?</span>
                            </div>
                            <div id="new_preset_modal_advanced_inputs" style="display:none;"></div>
                        </div>
                        <div class="modal-footer">
                            <span id="new_preset_modal_error" class="modal_error_bottom"></span>
                            <button type="button" class="btn btn-primary basic-button" onclick="javascript:save_new_preset()">Save</button>
                            <button type="button" class="btn btn-secondary" onclick="javascript:close_create_new_preset()">Cancel</button>
                        </div>
                    @WebUtil.ModalFooter()
                    <div class="browser_container preset_list_container" id="preset_list"></div>
                    <div class="sui-popover sui_popover_model" id="popover_presetmenu">
                        <div class="sui_popover_model_button" onclick="javascript:presetMenuEdit()">Edit Preset</div>
                        <div class="sui_popover_model_button" onclick="javascript:presetMenuDelete()">Delete Preset</div>
                    </div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Models-Tab" role="tabpanel">
                    <div class="browser_container" id="model_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Vaes-Tab" role="tabpanel">
                    <div class="browser_container" id="vae_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Loras-Tab" role="tabpanel">
                    <div class="browser_container" id="lora_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Embeddings-Tab" role="tabpanel">
                    <div class="browser_container" id="embedding_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="ControlNets-Tab" role="tabpanel">
                    <div class="browser_container" id="controlnet_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Tools-Tab" role="tabpanel">
                    <select class="tool-selector" id="tool_selector">
                        <option value="" selected></option>
                    </select>
                    <div class="tool-container" id="tool_container">
                    </div>
                    <div style="height: 10rem"></div> <!-- Spacer -->
                </div>
            </div>
            @WebUtil.ModalHeader("edit_model_modal", """Edit Model Metadata: <input type="text" class="modal_text_extra" id="edit_model_name" placeholder="Model Name" />""")
                <div class="modal-body">
                    <div>Author: <input type="text" id="edit_model_author" class="modal_text_extra" placeholder="Model Author" /></div>
                    <div>Architecture: <input type="text" id="edit_model_type" class="modal_text_extra" placeholder="Model Type" /></div>
                    <div>Standard Resolution: <input type="text" id="edit_model_resolution" class="modal_text_extra" placeholder="Resolution, eg 1024x1024" /></div>
                    <div>License: <input type="text" id="edit_model_license" class="modal_text_extra" placeholder="Model License" /></div>
                    <div>Date: <input type="text" id="edit_model_date" class="modal_text_extra" placeholder="Model Date" /></div>
                    <div>Merged From: <input type="text" id="edit_model_merged_from" class="modal_text_extra" placeholder="Model Merged From" /></div>
                    <div>Tags: <input type="text" id="edit_model_tags" class="modal_text_extra" placeholder="Model Tags" /></div>
                    <div>Usage Hint: <input type="text" id="edit_model_usage_hint" class="modal_text_extra" placeholder="Model Usage Hint" /></div>
                    <div>Trigger Phrase: <input type="text" id="edit_model_trigger_phrase" class="modal_text_extra" placeholder="Model Trigger Phrase" /></div>
                    Description: <textarea class="auto-text" id="edit_model_description" rows="3" placeholder="Model description text..."></textarea>
                    <span class="form-check form-switch display-inline-block">
                        <input class="auto-slider-toggle form-check-input" type="checkbox" id="edit_model_enable_image" title="Enable/disable image" onclick="javascript:doToggleEnable('edit_model_image')"> Use Image
                    </span>
                    <div id="edit_model_image" class="new_preset_image"></div>
                </div>
                <div class="modal-footer">
                    <span id="edit_model_modal_error" class="edit_model_modal_error"></span>
                    <button type="button" class="btn btn-primary basic-button" onclick="javascript:save_edit_model()">Save</button>
                    <button type="button" class="btn btn-secondary" onclick="javascript:close_edit_model()">Cancel</button>
                </div>
            @WebUtil.ModalFooter()
        </div>
    </div>
    @WebServer.T2ITabBody
    <div class="tab-pane tab-pane-vw" id="User-Settings" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#user-info" aria-selected="true" role="tab">User Info</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#Settings-User" id="userconfigtabbutton" aria-selected="false" tabindex="-1" role="tab">User Settings</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="user-info" role="tabpanel">
                (TODO: info n stuff here)
                <br>
            </div>
            <div class="tab-pane" id="Settings-User" role="tabpanel">
                <div id="user_settings_container"></div>
                <div class="settings_submit_confirmer" id="usersettings_confirmer">
                    <span class="settings_submit_confirmer_text">Save <span id="usersettings_edit_count">0</span> edited setting(s)?</span>
                    <button type="button" class="btn btn-primary basic-button" onclick="javascript:save_user_settings()">Save</button>
                    <button type="button" class="btn btn-secondary" onclick="javascript:cancel_user_settings_edit()">Cancel</button>
                </div>
            </div>
        </div>
        <div style="height: 10rem"></div> <!-- Spacer -->
    </div>
    <div class="tab-pane tab-pane-vw" id="Settings" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#Settings-Backends" aria-selected="true" role="tab">Backends</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#Settings-Server" id="serverconfigtabbutton" aria-selected="false" tabindex="-1" role="tab">Server Configuration</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="Settings-Backends" role="tabpanel">
                <div class="backend_add_button_container">
                    Add new backend of type:
                    <div id="backend_add_buttons"></div>
                </div>
                <div class="backends_list" id="backends_list"></div>
            </div>
            <div class="tab-pane" id="Settings-Server" role="tabpanel">
                <div id="server_settings_container"></div>
                <div class="settings_submit_confirmer" id="serversettings_confirmer">
                    <span class="settings_submit_confirmer_text">Save <span id="serversettings_edit_count">0</span> edited setting(s)?</span>
                    <button type="button" class="btn btn-primary basic-button" onclick="javascript:save_server_settings()">Save</button>
                    <button type="button" class="btn btn-secondary" onclick="javascript:cancel_server_settings_edit()">Cancel</button>
                </div>
            </div>
        </div>
        <div style="height: 10rem"></div> <!-- Spacer -->
    </div>
</div>

@section Scripts {
    <script src="/js/backends.js?vary=@Utilities.VaryID"></script>
    <script src="/js/genpage_browsers.js?vary=@Utilities.VaryID"></script>
    <script src="/js/genpage_presets.js?vary=@Utilities.VaryID"></script>
    <script src="/js/genpage_models.js?vary=@Utilities.VaryID"></script>
    <script src="/js/genpage_params.js?vary=@Utilities.VaryID"></script>
    <script src="/js/genpage.js?vary=@Utilities.VaryID"></script>
    <script src="/js/settings_editor.js?vary=@Utilities.VaryID"></script>
    @WebServer.PageFooterExtra
}
